body {
	background: black;
	overflow: hidden;
  }

  .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .tall-stack {
	animation: slide-plate-out 6000ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
  }
  .stack {
	  position: absolute;
	  max-height: 800px;
	  bottom:-300px;
	  right: 200px;
  }
  .plate {
	width: 230px;
	height: 14px;
	background: #D3EBEA;
	position: relative;
	border-radius: 6px 6px 2rem 2rem;
	margin:auto;
  }

  .plate .plate-bottom {
	content: '';
	display: block;
	height: 50%;
	width: 140px;
	background: #c5e5e3;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -70px;
	border-radius: 0 0 1rem 1rem;
	z-index: 1;
  }
  .plate .shadow {
	position: absolute;
	top: 130%;
	left: 50%;
	margin-left: -90px;
	z-index: 0;
	width: 180px;
	height: 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 80%;
	z-index: 0;
  }

  .butter {
	width: 48px;
	height: 12px;
	background: #EADD4D;
	margin: auto;
	border-radius: 2px;
	box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
  }
 .pancake {
	width: 200px;
	height: 14px;
	background: #D8CB9F;
	border-radius: 1rem;
	box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
	margin: auto;
	position: relative;
  }

  .chocchip {
	background: radial-gradient(brown 15%, transparent 16%) 0 0,
	radial-gradient(brown 15%, transparent 16%) 8px 8px,
	radial-gradient(brown 15%, transparent 20%) 0 1px,
	radial-gradient(brown 15%, transparent 20%) 8px 9px;
	background-color: #ffcbaa;
	background-size:16px 16px;
  }
  .blueberry {
	background: radial-gradient(blue 15%, transparent 16%) 0 0,
	radial-gradient(blue 15%, transparent 16%) 8px 8px,
	radial-gradient(blue 15%, transparent 20%) 0 1px,
	radial-gradient(blue 15%, transparent 20%) 8px 9px;
	background-color: #f0f3fd;
	background-size:16px 16px;
  }

  .cold {
	background-color: silver;
}

  @keyframes slide-plate-in {
	0% {
	  transform: translateX(100vw);
	}
	15%,100% {
	  transform: translateX(0);
	}
  }
  @keyframes slide-plate-out {
	65% {
	  transform: translateX(0);
	}
	85%,100% {
	  transform: translateX(-100vw);
	}
  }
